<h1>here is your booking</h1>


<%= @user.first_name%>
<%= @studio.title %>


<h2> date</h2>
<p>from:</p>
<p><%= @booking.start_date %></p>
<p>to:</p>
<p> <%= @booking.end_date %></p>


<p>see you soon</p>

<%= link_to "see all bookings", bookings_path, class: "btn btn-info" %>



