<div class="well">
  <%= simple_form_for(@studio) do |f| %>
    <%= f.error_notification %>

    <%= f.input :title, placeholder: "Joe's Woodwork Studio" %>
    <%= f.input :adress, placeholder: "Brussels"%>
    <%= f.input :price,  placeholder: "120€/month" %>
    <%= f.input :description,  placeholder: "beautiful clear studio. Completely equiped. Shared with 3 collegues. Near the Canal" %>
    <%= f.input :specific,  placeholder: "no smoking, no pets" %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

    <%= f.button :submit %>
  <% end %>
</div>
