<h1><%= @studio.title %></h1>
<p> price</p>
<h2><%= @studio.price %></h2>

<p> description</p>
<p><%= @studio.description %></p>
<p>More info</p>
<p><%= @studio.specific %></p>




<p> address</p>
<p><%= @studio.adress %></p>

<p> google maps</p>
<!-- google maps -->
