<div class="container">
 <div class = "well">
  <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div style="min-height: 550px">

          <%= cl_image_tag @studio.photo, height: 300, width: 400,crop: :fill %>

          <h1><%= @studio.title %></h1>
          <h2> price</h2>
          <p><%= @studio.price %></p>

          <h2> description</h2>
          <p><%= @studio.description %></p>
          <h2>More info</h2>
          <p><%= @studio.specific %></p>

          <h2> address</h2>
          <p><%= @studio.adress %></p>

          <p> google maps</p>
          <!-- google maps -->
          <!-- Button (call-to-action) -->

          <%= link_to "Edit", edit_studio_path(@studio), class: "btn btn-primary" %>
          <%= link_to "Delete", studio_path(@studio), class: "btn btn-secondary", method: :delete %>
          <%= link_to "BOOK", new_booking_path(studio_id: @studio), class: "btn btn-primary" %>

        </div>
      </div>
    </div>
 </div>
</div>
